
<h1>Listar libros</h1>

<form method="GET">{% csrf_token %}

    <input type="text" id="kword" name="kword" placeholder="Buscar">
    <button type="submit">Buscar</button>

</form>


<ul>
    {% for autor in autores %}
        <li> {{ autor.first_name}} {{ autor.last_name}}</li>
        
        <ul>
            {% for libro in autor.libro_set.all %}
                
                
                <li> {{ libro.title}}</li>
                
            {% endfor %}
        </ul>
        
        
    {% endfor %}
</ul>

